.images {
    display:grid;
    grid-template-columns: 20fr 20fr 20fr;

}
body {
    background-color: #737373;
}
#lowerimages{
    padding-top: 40px;
    /* margin-left:20px; */
    margin:0 auto;
    border-radius:100px;
    color:#0000AA;
    max-width:80%;  
    text-align:center;
    box-sizing: border-box;
}
#person{
    border: 12px solid #434343;
    border-radius: 100px;
    margin-left: 20%;
}
#desk{
    border: 12px solid #434343;
    border-radius: 100px;  
}
#graphic{
    border: 12px solid #434343;
    border-radius: 100px;
     margin-left: 20%;
}