@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
#content {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    text-decoration: underline;
    background-color: #C2FFED;
}
body {
    background-color: #D6FFF3;
}
h2 {
    background-color: #ADFFE7;
}
footer {
    font-weight: lighter;
    font-size:xx-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}